form {
	margin-top: 10px;
}
h2{
	background: #400040;
	color: #ffff00;
}

label {

	font-size: 16px; 
	width: 180px; 
	display: block; 
	text-align: left;
	margin-right: -30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

input {
	width: 500px;
	border: 2px solid #ffff00; 
	border-radius: 5px; 
	padding: 6px; 
	font-size: 16px;
}

.save {
	font-weight: bold;
	width: 130px; 
	padding: 5px 10px 5px 10px; 
	margin-top: 30px;
	background: #ffffff;
	margin-top:20px;
}

table {   
	border-style:none;
	width:61%;
}

tr:nth-child(even) {background: #c0c0c0}
tr:nth-child(odd) {background: #808080}

tr {
	
	border-style:groove;
	text-align:left;	
	
}
	
