html, body{
	margin-left:15px; margin-right:15px; 
	padding:0px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

table {   
	border: groove;
	border-collapse:collapse;
	border-bottom:1px solid #400040;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:61%;
}
 
th {
	border-bottom:1px solid #400040;
	background:none repeat scroll 0 0 #c0c0c0;
	padding:10px;
	color: #004080;
}

tr {
	border-top:1px solid #400040;
	text-align:center;	
}
 
tr:nth-child(even) {background: #c0c0c0}
tr:nth-child(odd) {background: #ffffff}	
 
#wrapper {width: 100%; margin-top: 0px; }
#header {width: 60%; background: #c0c0c0; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #400040;}
#container {width: 100%; margin:auto}
#container h3 {color: #808000;}
#container #content {margin-top: 20px;}

.add-button {
	border: 1px solid #c0c0c0; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 5px 10px; 
	margin-bottom: 15px;
	background: #408080;
}

.logout {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 5px 10px; 
	margin-bottom: 15px;
	background: #ff8040;
}
	
